body {
  height: 100%;
  width: 100%;
  position: relative;
}

.App {

  position: relative;
  width: 100vw;
  height: 100%;
}

.post-container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
  /* margin: 0 16px; */
}

.post-list {
  width: 500px;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
  position: relative;
  align-content: center;
  align-self: center;
}

.post-item-wrapper {
  margin: 16px 0px;
  padding: 16px 0px;
  position: relative;
  /* display: block; */
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column wrap;
  background: none;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}

.post-item-content {
  position: relative;
  width: 100%;
  background: none;
}


.post-item-image {
  /* height: 100%; */
  max-width: 500px;
  text-align: center;
  background-color: black;
  z-index: 1;
  position: relative;
  display: flex;
  align-self:center;
  text-align: center;
  justify-content:center;
  /* width: 100%; */


  /* height: 350px; */

  /* min-height: 350px; */
}

.img-element {
  height: 100%;
  max-height: 350px;
  /* width: 100%; */
  max-width: 500px;
  align-items: center;
  z-index: -1;

}

i {
  position: absolute;
  z-index: 100;
  justify-content: flex-start;
}

i.far.nonfavorite {
  color: white;
}

.post-item-text: {
    text-align: center;
}

.post-item-title {
  font-family: "Arvo";
  font-size: 18px;
  line-height: 24px;
  padding: 16px 0px;
  margin: 16px 0px;
  text-align: center;

}



.nonfavorite {
  color: white;
  align-self: flex-start;
}

i.favorited {
  color: #f48782;
  /* background-color: #f48782; */
}
